/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

ul.ListaI{
  display: block;
  margin-right: 100px;
}


.ListaNombre{
  margin-left: -30px;
}

li.ListItem{
  position: relative;
  display: none;
}

.ListaI:hover>.ListItem{
  display: block;
  a{
    color: darkslategrey;
  }
}

.ListaNombre:focus~li.ListItem{
  display: block;
}

a.navbar-brand {
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

a{
  color: #7118ac;
}

